* {
    box-sizing: border-box;
}

body {
    margin: 0;
}




/* ////////////////////////////////////// */



/* Mobile: width < 740px */
@media only screen and (max-width: 46.1875em) {



    .carousel_box {
        padding-top: 10px;
    }

    /* an menupc */
    .menu__pc {
        display: none;
    }

    /* .menu__mobile{
        height: 5000px;
        display: none;
    } */

    .menu__mobile_phone {

        display: block;
    }

    /* menu */
    .text-1 {
        font-size: 1rem;
    }

    .text-2 {
        font-size: 2rem;
    }


    .card_price_p a{
        font-size: 2em;
    }
}

/* Tablet: width >=740px and width < 740px */
@media only screen and (min-width: 46.25em) and (max-width: 63.9375em) {

    /* .course-item-menu {
        height: 450px;
        background-color: brown;
    } */
    /* text-content */
    .story_text {
        margin-top: 0;
    }

    .carousel_box {
        padding-top: 50px;
    }

    .carousel_box {
        padding-top: 30px;
    }

  

}

/* 1024x1366 */
@media only screen and (min-width: 1336px) and (max-width: 1024px) {
    .logo {
        width: 200px;
        height: 50px;
        display: inline-block;
    }
}

/* Mobile: width < 740px */
@media only screen and (max-width: 600px) and (min-width:730px) {
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {

    .wrapper {
        width: 300px;
        height: 440px;
    }

    .overlay_1 {
        right: 0;
        bottom: 0;
    }
 
}
/* Smartphones (portrait) font chữ trên sp ----------- */
@media only screen and (max-width: 415px) {

  

    
}

/* Smartphones (portrait) font chữ trên sp ----------- */
@media only screen and (max-width: 1000px)and (min-width: 600px){


  
}
/* chỉnh kích thước hình ảnh khi vover */
@media only screen and (max-width: 1000px){
    main {
        margin-top: 50px;
    }
}
@media only screen and (max-width: 1000px)and (min-width: 779px){

 
  
}

/* Smartphones (portrait) font chữ trên sp ----------- */
@media only screen and (max-width: 1124px)and (min-width: 1001px){


    
}
