<style>
    .img-container {
        text-align: center;
        margin-top: 20px;
    }

        .img-container img {
            display: inline-block;
        }
</style>
@{
    ViewBag.Title = "ThanhToan";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="text-center pt-4">
    <h2>Bạn đã đặt bàn thành công</h2> <br />
    <h2>Cảm ơn bạn đã sử dụng dịch vụ của chúng tôi!</h2>

</div>

<div class="img-container">
    <img src="~/image/CamOn.gif" alt="Alternate Text" />
</div>

