
@{
    ViewBag.Title = "GioiThieu";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="display-3 mb-3 animated slideInDown">GIỚI THIỆU</h1>
        <nav aria-label="breadcrumb animated slideInDown">
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a class="text-body" href="~/Home/Home">Trang chủ</a></li>
                <li class="breadcrumb-item text-dark active" aria-current="page">Giới thiệu</li>
            </ol>
        </nav>
    </div>
</div>



<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img width="800px" height="404px" class="~/Contents/img-fluid" src="~/image/GT/gt2.png">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="display-5 mb-4">BẢN SẮC - THƠM NGON - GIẢ CẢ PHẢI CHĂNG</h1>
                <p class="mb-4">Cơm Quê luôn là điểm đến một bữa ăn họp mặt gia đình, một bữa trưa ngon sau buổi sáng làm việc, gặp gỡ bạn bè, người thân,...</p>
                <p><i class="fa fa-check text-primary me-3"></i>Cơm Quê luôn không gian trẻ trung, thoáng đãng được bao phủ bởi gam màu tinh tế.</p>
                <p><i class="fa fa-check text-primary me-3"></i>Không gian luôn thoải mái và sạch sẽ nhất cho khách hàng.</p>
                <p><i class="fa fa-check text-primary me-3"></i>Món ăn bổ dưỡng, ngon miệng</p>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img width="800px" height="404px" class="~/Contents/img-fluid" src="~/image/GT/gt3.png">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="display-5 mb-4">KHÔNG GIAN THOÁNG MÁT</h1>
                <p class="mb-4">Cơm Quê luôn không gian trẻ trung, thoáng đãng được bao phủ bởi gam màu tinh tế.</p>
                <p><i class="fa fa-check text-primary me-3"></i>Là nơi thoáng đãn, ấm áp và ấm cúng.</p>
                <p><i class="fa fa-check text-primary me-3"></i>Cơm Quê sẵn sàng làm thực khách thấy ngây ngất từ lần thưởng thức đầu tiên.</p>
                <p><i class="fa fa-check text-primary me-3"></i>Đảm bảo không gian quán không làảnh hưởng đến khách hàng để khách hàng có không gian đẹp đẽ và tuyệt vời nhất.</p>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- About Start -->
<div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img width="800px" height="404px" class="~/Contents/img-fluid" src="~/image/GT/gt4.png">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="display-5 mb-4">PHỤC VỤ ÂN CẦN</h1>
                <p class="mb-4">Cơm Quê với tiêu chí "Khách hàng là thượng đế".</p>
                <p><i class="fa fa-check text-primary me-3"></i>Các món ăn được chế biến dưới bàn tay đội ngũ đầu bếp tài hoa, nguyên liệu từ thiên nhiên, an toàn vệ sinh thực phẩm.</p>
                <p><i class="fa fa-check text-primary me-3"></i>Thực khách không bao giờ phải chờ lâu để tận hưởng bữa ăn của mình.</p>
                <p><i class="fa fa-check text-primary me-3"></i>Phục vụ khách hàng tận tình và nhiệt huyết, giải quyết mọi yêu cầu và thắc mắc của khách hàng.</p>
            </div>
        </div>
    </div>
</div>
<!-- About End -->


<section id="specials" class="specials" style="background-color: darkgray">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <hr />
            <h2 style="color: coral">BỮA ĂN</h2>
            <p style="color: gold">RẤT QUAN TRỌNG</p>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">
            <div class="col-lg-3">
                <ul class="nav nav-tabs flex-column">
                    <li class="nav-item">
                        <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Bữa Sáng</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Bữa trưa</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Bữa tối</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-9 mt-4 mt-lg-0">
                <div class="tab-content">
                    <div class="tab-pane active show" id="tab-1">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3 style="color: red">Bữa sáng là bữa ăn quan trọng nhất trong ngày.</h3>
                                <p style="color: blue" class="fst-italic">Giúp cung cấp năng lượng cho cơ thể và tinh thần để bắt đầu một ngày mới. Các lựa chọn ăn sáng đa dạng từ các quốc gia và văn hóa khác nhau, như bánh mì, trứng, ngũ cốc, hoa quả, sữa, hay các món ăn truyền thống như phở</p>
                                <p style="color: white">
                                    Một bữa sáng lành mạnh thường bao gồm cả ba nhóm thức ăn chính: protein, chất béo và carbohydrate. Ví dụ, một ổ bánh mì nâu với trứng chiên và một quả chuối có thể là một lựa chọn tốt, đảm bảo cung cấp đủ năng lượng và dưỡng chất cho sự hoạt động trong suốt buổi sáng.
                                    Bữa sáng không chỉ giúp tăng cường sức khỏe mà còn có thể tạo nên một không khí tích cực cho cả gia đình hoặc nhóm bạn. Đôi khi, việc chia sẻ một bữa sáng cùng nhau có thể là dịp tuyệt vời để kết nối và bắt đầu một ngày mới một cách tích cực.
                                </p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="~/ImageMenu/BUN-BO.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-2">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3 style="color: red">Bữa trưa là một phần quan trọng của ngày, mang lại năng lượng và sự sảng khoái để tiếp tục hoạt động trong buổi chiều.</h3>
                                <p style="color: blue" class="fst-italic">
                                    Việc lựa chọn thức ăn cho bữa trưa cũng đóng vai trò quan trọng trong việc duy trì sức khỏe và tăng cường hiệu suất làm việc.
                                    Có nhiều phong cách ẩm thực và món ăn truyền thống trên khắp thế giới, và bữa trưa có thể trở thành dịp để khám phá những hương vị mới. Một bữa trưa cân đối thường bao gồm các nguồn protein như thịt, cá, đậu nành hoặc thực phẩm từ động vật khác, cùng với rau xanh, các loại rau củ và ngũ cốc.
                                </p>
                                <p style="color: white">Việc ăn bữa trưa cùng đồng nghiệp, gia đình hoặc bạn bè cũng có thể là cơ hội tốt để xây dựng mối quan hệ xã hội và giảm căng thẳng trong ngày làm việc.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="~/ImageMenu/CA-BONG-KHO-TIEU.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab-3">
                        <div class="row">
                            <div class="col-lg-8 details order-2 order-lg-1">
                                <h3 style="color: red">Bữa tối thường là bữa ăn cuối cùng trong ngày và đóng vai trò quan trọng trong việc cung cấp dưỡng chất cho cơ thể trước khi đi vào giấc ngủ.</h3>
                                <p style="color: blue" class="fst-italic">
                                    Lựa chọn thức ăn cho bữa tối đóng vai trò quan trọng trong việc duy trì sức khỏe và cân nặng.
                                    Một bữa tối cân đối thường bao gồm các nguồn protein như thịt, cá, đậu nành hoặc thực phẩm từ động vật khác, cùng với rau xanh, rau củ và ngũ cốc. Việc tăng cường tiêu thụ rau và trái cây có thể giúp cung cấp nhiều loại vitamin và khoáng chất quan trọng cho cơ thể.
                                </p>
                                <p style="color: white">Việc ăn tối nên diễn ra ít nhất 2-3 giờ trước khi đi ngủ để giảm nguy cơ rối loạn tiêu hóa và cải thiện chất lượng giấc ngủ. Đồng thời, việc thực hiện những bữa ăn nhẹ vào buổi tối cũng là một lựa chọn khôn ngoan để duy trì sức khỏe tổng thể.</p>
                            </div>
                            <div class="col-lg-4 text-center order-1 order-lg-2">
                                <img src="~/ImageMenu/CANH-GA-CHIEN-GION.jpg" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Specials Section -->
