
@{
    ViewBag.Title = "Trang chu";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<!-- content -->
<main>
    <section class="main_header">
        <div class="container">
            <div class="row">

                <div class="col-lg-6 col-md-7 col-sm-12">
                    <!-- Carousel -->
                    <div id="demo" class="carousel slide" data-bs-ride="carousel">

                        <!-- Indicators/dots -->
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                        </div>

                        <!-- The slideshow/carousel -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/image/TC/bia1.png" alt="BIA 1" class="d-block w-100" style="height: 250px">
                            </div>
                            <div class="carousel-item">
                                <img src="~/image/TC/bia2.png" alt="BIA 2" class="d-block w-100" style="height: 250px">
                            </div>
                            <div class="carousel-item">
                                <img src="~/image/TC/bia3.png" alt="BIA 3" class="d-block w-100" style="height: 250px">
                            </div>
                        </div>

                        <!-- Left and right controls/icons -->
                        <button class="carousel-control-prev btn-toolbar" type="button" data-bs-target="#demo"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next btn-toolbar" type="button" data-bs-target="#demo"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon "></span>
                        </button>
                    </div>
                </div>

                <div class="col-lg-6 col-md-5 col-sm-12">
                    <div class="text_main_tilte">
                        <h3 style="text-align: center; font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
                            color:maroon">
                            MÓN ĂN QUÊ NHÀ<br>
                            Đậm vị Quê hương 3>
                        </h3>
                        <button class="btn_title btn-dark" style="color: maroon">Trải Nghiệm</button>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <img class="img_main" width="80%" height="auto"
                         src="~/image/TC/mon1.png" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <img class="img_main" width="80%" height="auto"
                         src="~/image/TC/mon2.png" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <img class="img_main" width="80%" height="auto"
                         src="~/image/TC/mon3.png" alt="">
                </div>
                <div class="col-lg-3 col-md-3 col-sm-3 col-3">
                    <img class="img_main" width="80%" height="auto"
                         src="~/image/TC/mon4.png" alt="">
                </div>
            </div>
        </div>
    </section>


    <section style="background-color:  rgb(255, 242, 226)">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: maroon; font-size: 30px">ĐẾN VỚI CƠM QUÊ</h2>
                    <p style="font-family:'Times New Roman', Times, serif;color: maroon; font-size: 25px">Sẵn sàng phục vụ khách hàng bằng cả nhiệt huyết và lòng đam mê</p>
                    <p style="font-family:'Times New Roman', Times, serif; font-size: 1.5em">
                        Nhỏ thích về nhà. Chẳng gì, chỉ là thèm một bữa cơm gia đình. Cơm mẹ nấu chẳng phải cao lương mỹ vị mà ngon, mà nhớ mãi.
                        <i class="fa-solid fa-heart" style="color: #ff0000;"></i>
                    </p>
                    <p style="font-family:'Times New Roman', Times, serif; font-size: 1.5em">
                        Bây giờ xa nhà lên thành phố học, nhỏ thấy buồn nhiều. Buồn nhất là khi ngồi ăn một mình trong quán cơm bụi, nhỏ cứ thấy nhớ những bữa cơm gia đình. Bữa cơm sum họp quây quần sao mà không nhớ!
                    </p>
                    <button class="cta">
                        <span style="color: maroon">Xem thêm</span>
                        <svg viewBox="0 0 13 10" height="10px" width="15px">
                            <path d="M1,5 L11,5"></path>
                            <polyline points="8 1 12 5 8 9"></polyline>
                        </svg>
                    </button>
                </div>
                <div class="col-lg-6">
                    <!-- Carousel -->
                    <div id="demo" class="carousel slide" data-bs-ride="carousel">

                        <!-- Indicators/dots -->
                        <div class="carousel-indicators">
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="0"
                                    class="active"></button>
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
                            <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
                        </div>

                        <!-- The slideshow/carousel -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="~/image/TC/khonggian1.png" alt="Los Angeles" class="d-block w-100" style="height:350px">
                            </div>
                            <div class="carousel-item">
                                <img src="~/image/TC/khonggian2.png" alt="Chicago" class="d-block w-100" style="height:350px">
                            </div>
                            <div class="carousel-item">
                                <img src="~/image/TC/khonggian3.png" alt="New York" class="d-block w-100" style="height:350px">
                            </div>
                        </div>

                        <!-- Left and right controls/icons -->
                        <button class="carousel-control-prev" type="button" data-bs-target="#demo"
                                data-bs-slide="prev">
                            <span class="carousel-control-prev-icon"></span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#demo"
                                data-bs-slide="next">
                            <span class="carousel-control-next-icon"></span>
                        </button>
                    </div>
                </div>

            </div>
        </div>
    </section>
</main>

